<div class="tabla-container form-container"> 
<mat-form-field class="example-form-field">
  <mat-label>Seleccionar fecha</mat-label>
  <input matInput [matDatepicker]="datepicker" (dateChange)="onDateChange($event.value)">
  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker>
    <mat-datepicker-actions>
      <button mat-button matDatepickerCancel>Cancelar</button>
      <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
    </mat-datepicker-actions>
  </mat-datepicker>
</mat-form-field>
<button mat-flat-button (click)="validarFecha()">Validar fecha</button>
</div>
