<div class="form-container">
    <mat-form-field>
        <mat-label>Ingrese Año</mat-label>
        <input matInput type="text" [(ngModel)]="anio">
      </mat-form-field>
    <button mat-flat-button (click)="listar()">Obtener festivos</button>
</div>

<div class="tabla-container">
  <ngx-datatable class="icons dark datatable-body-cel"
  [rows]="festivos" 
  [columns]="columnas" 
  [columnMode]="'force'" 
  [headerHeight]="40" 
  [footerHeight]="40"
  [rowHeight]="30" [scrollbarV]="false">
  </ngx-datatable>
</div>